

{% extends 'base.html.twig' %}

{% block title %}Hello SecuriteController!{% endblock %}

{% block header %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Admin </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Client And Admins <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Auteurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Commandes</a>
      </li>
    </ul>
 
  </div>
</nav>
{% endblock %}
{% block body %}


  <!--================ confirmation part start =================-->
  <section class="confirmation_part padding_top">
    <div class="container">
   {% for commande in commandes  %}
       
  
      <div class="row">
        <div class="col-lg-12">
          <div class="order_details_iner">
            <h3>Commandes</h3>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">Num </th>
                  <th scope="col">Client</th>
                  <th scope="col">Date Commande </th>
                  <th scope="col">Confirmation</th>
                  <th scope="col">action </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <th>{{commande.id}}</th>
                  <th>{{commande.client.getEmail}}</th>
                  <th>{{commande.getDateCommande()|date('Y-m-d') }}</th>
                  <th> {{commande.confirmer}}</th>
                   <th> <a href="#"><button class="btn btn-success"> Confirmer </th>

                </tr>
        
              </tbody>
              <tfoot>
             
            </table>
          </div>
        </div>
      </div>
       {% endfor %}
    </div>
  </section>

  {% endblock %}
  {% block footer %}{% endblock %}